<a href="https://colab.research.google.com/github/akash-kola-test/ETL-Python/blob/main/ETL-Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.options.mode.copy_on_write = True

In [ ]:
survey_results = pd.read_csv("/content/drive/MyDrive/survey_results_public.csv")

In [ ]:
survey_results.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [ ]:
# Task 1
pd.to_numeric(
    survey_results[
        (survey_results["MainBranch"] == "I am a developer by profession") &
        (~survey_results["Age1stCode"].isin(["Younger than 5 years", "Older than 85"]))
    ]["Age1stCode"]
).mean()

15.356114663454113

In [ ]:
# Task 2
(survey_results[survey_results["MainBranch"] == "I am a developer by profession"]
    .groupby("Country")["LanguageWorkedWith"]
    .apply(lambda x: x.str.contains("Python", na=False).mean() * 100))

Country
Afghanistan                              4.000000
Albania                                 23.880597
Algeria                                 32.142857
Andorra                                  0.000000
Angola                                  50.000000
                                          ...
Venezuela, Bolivarian Republic of...    26.666667
Viet Nam                                33.576642
Yemen                                   30.000000
Zambia                                  60.000000
Zimbabwe                                22.222222
Name: LanguageWorkedWith, Length: 170, dtype: float64

In [ ]:
# Task 3
import geopandas as gpd
world = gpd.read_file('/content/drive/MyDrive/ne_110m_admin_0_countries/ne_110m_admin_0_countries.shp')
continent_and_country_lookup = {}

def get_continent_by_country(x) -> str:
    country_name = x.iloc[0]
    if country_name in continent_and_country_lookup:
        return continent_and_country_lookup[country_name]
    country_row = world[world['NAME'] == country_name]

    if not country_row.empty:
        continent_and_country_lookup[country_name] = country_row['CONTINENT'].values[0]
        return continent_and_country_lookup[country_name]
    else:
        return pd.NA

survey_results_copy = survey_results.copy()
survey_results_copy["Continent"] = survey_results_copy[~survey_results_copy["Country"].isna()].groupby("Country")["Country"].transform(get_continent_by_country)
survey_results_copy.query('MainBranch == "I am a developer by profession" and CompFreq.notna() and Continent.notna()').groupby(["Continent", "CompFreq"])["CompTotal"].mean()

Continent      CompFreq
Africa         Monthly     6.443523e+06
               Weekly      3.577087e+04
               Yearly      1.464205e+06
Asia           Monthly     1.034803e+07
               Weekly      8.264466e+13
               Yearly      2.407733e+09
Europe         Monthly     9.492610e+04
               Weekly      1.325482e+04
               Yearly      1.105428e+05
North America  Monthly     7.950468e+04
               Weekly      4.115780e+04
               Yearly      1.133351e+05
Oceania        Monthly     8.089389e+04
               Weekly      3.772328e+04
               Yearly      1.111284e+05
South America  Monthly     7.376358e+05
               Weekly      5.398644e+05
               Yearly      3.934941e+06
Name: CompTotal, dtype: float64

In [ ]:
# Task 4
survey_results["LanguageDesireNextYear"].str.split(";", expand=True).stack().reset_index(drop=True).value_counts().sort_values(ascending=False).head(1)

JavaScript    44739
Name: count, dtype: int64

In [ ]:
# Task 5
import geopandas as gpd
world = gpd.read_file('/content/drive/MyDrive/ne_110m_admin_0_countries/ne_110m_admin_0_countries.shp')
continent_and_country_lookup = {}

def get_continent_by_country(x) -> str:
    country_name = x.iloc[0]
    if country_name in continent_and_country_lookup:
        return continent_and_country_lookup[country_name]
    country_row = world[world['NAME'] == country_name]

    if not country_row.empty:
        continent_and_country_lookup[country_name] = country_row['CONTINENT'].values[0]
        return continent_and_country_lookup[country_name]
    else:
        return pd.NA

survey_results_copy_2 = survey_results.copy()
survey_results_copy_2["Continent"] = survey_results_copy_2[~survey_results_copy_2["Country"].isna()].groupby("Country")["Country"].transform(get_continent_by_country)
survey_results_copy_2["Gender"] = survey_results_copy_2["Gender"].apply(lambda x: "OTHERS" if x not in ["Man", "Woman"] else x)
survey_results_copy_2.query('Gender.notna() & Continent.notna() & Hobbyist == "Yes"').groupby(["Gender", "Continent"])["Hobbyist"].count()

Gender  Continent
Man     Africa            1865
        Asia             12108
        Europe           24784
        North America     3106
        Oceania           1800
        South America     2426
OTHERS  Africa             103
        Asia               992
        Europe            1085
        North America      163
        Oceania            113
        South America       65
Woman   Africa             119
        Asia               730
        Europe            1305
        North America      220
        Oceania            100
        South America      107
Name: Hobbyist, dtype: int64

In [ ]:
# Task 6
import geopandas as gpd
world = gpd.read_file('/content/drive/MyDrive/ne_110m_admin_0_countries/ne_110m_admin_0_countries.shp')
continent_and_country_lookup = {}

def get_continent_by_country(x) -> str:
    country_name = x.iloc[0]
    if country_name in continent_and_country_lookup:
        return continent_and_country_lookup[country_name]
    country_row = world[world['NAME'] == country_name]

    if not country_row.empty:
        continent_and_country_lookup[country_name] = country_row['CONTINENT'].values[0]
        return continent_and_country_lookup[country_name]
    else:
        return pd.NA

survey_results_copy_2 = survey_results.copy()
survey_results_copy_2["Continent"] = survey_results_copy_2[~survey_results_copy_2["Country"].isna()].groupby("Country")["Country"].transform(get_continent_by_country)
survey_results_copy_2["Gender"] = survey_results_copy_2["Gender"].apply(lambda x: "OTHERS" if x not in ["Man", "Woman"] else x)
print(survey_results_copy_2.query('Gender.notna() & Continent.notna() & JobSat.notna() & CareerSat.notna()').groupby(["Gender", "Continent"])['CareerSat'].value_counts())
print("\n\n\n")
print(survey_results_copy_2.query('Gender.notna() & Continent.notna() & JobSat.notna() & CareerSat.notna()').groupby(["Gender", "Continent"])['JobSat'].value_counts())

Gender  Continent      CareerSat
Man     Africa         Very satisfied                        521
                       Slightly satisfied                    507
                       Neither satisfied nor dissatisfied    168
                       Slightly dissatisfied                 161
                       Very dissatisfied                     112
                                                            ...
Woman   South America  Slightly satisfied                     54
                       Very satisfied                         52
                       Slightly dissatisfied                  21
                       Neither satisfied nor dissatisfied     11
                       Very dissatisfied                       7
Name: count, Length: 90, dtype: int64




Gender  Continent      JobSat
Man     Africa         Slightly satisfied                    522
                       Very satisfied                        338
                       Slightly dissatisfied                 250
                       Neither satisfied nor dissatisfied    227
                       Very dissatisfied                     132
                                                            ...
Woman   South America  Slightly satisfied                     50
                       Very satisfied                         43
                       Slightly dissatisfied                  21
                       Neither satisfied nor dissatisfied     20
                       Very dissatisfied                      11
Name: count, Length: 90, dtype: int64